body {
  font-size: 15px;
}

/* BUTTON STYLING */

button {
  background: #ffc600;
  border: none;
  padding: 10px 20px;
}

/* FOR IMAGES TO FULLY FIT IN THIER CONTAINERS */

img {
  max-width: 100%;
}

/* TOP */

.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "hero hero cta1" "hero hero cta2";
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: white url(images2/taco.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;

  /* FOR THE TEXT */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero > * {
  background: var(--yellow);
  padding: 5px;
}
.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.price {
  font-size: 60px;
}
.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* NAVIGATION */
.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  padding: 0;
  /* margin: 20px 0; */
  list-style: none;
}
.menu a {
  background: var(--yellow);
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--black);
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}

[aria-controls="menu-list"] {
  display: none;
}

/* MENU LIST */
.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.feature .icon {
  font-size: 50px;
}

/* ABOUT SECTION */
.about {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 50px;
  align-items: center;
  justify-items: center;
  background: beige;
}

/* INSTANT GRAMS  */
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery h2 {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 10px;
  grid-template-columns: 1fr auto 1fr;
  text-align: center;
  align-items: center;
}

.gallery img {
  width: 100%;
}

.gallery h2:before,
.gallery h2:after {
  display: block;
  content: "";
  height: 10px;
  background: linear-gradient(to left, var(--yellow), transparent);
}

.gallery h2:after {
  background: linear-gradient(to right, var(--yellow), transparent);
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  .top {
    grid-template-areas: "hero hero" "cta1 cta2";
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas: "hero " "cta1" "cta2";
  }
}
